html, body {
    margin: 0;
}

/* 고정 헤더 */
.topBox {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.topRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* localStorge에 등록된 데이터 리스트 */
.bodyWrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개 */
    gap: 20px;
    padding: 20px;
}

.productCard {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.productCard:hover {
    transform: translateY(-2px);
}

.productImg {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.productImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 하트 토글 */
.heartIcon {
    fill: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
path {
    stroke: black;
}
.heartIcon.red {
    fill: red;
}

/* 텅 비었을때 */
.emptyMain {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: #aaa;
}

/* 반응형 */
@media (max-width: 768px) {
    .bodyWrap {
        grid-template-columns: repeat(2, 1fr); /* 작은 화면에서는 2개씩 표시 */
    }

    .productImg {
        height: 200px; /* 이미지 높이 축소 */
    }
}